{
 :users {
  "yeKFqj7rX" {:name "chen", :id "yeKFqj7rX", :nickname "chen", :avatar nil, :password "d41d8cd98f00b204e9800998ecf8427e", :theme :star-trail}
 }
 :ir {
  :package "chan-utils"
  :files {
   "chan-utils.core" {
    :ns {
     :type :expr, :by "yeKFqj7rX", :at 1558972042715, :id "tSc_p8TzYt"
     :data {
      "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972042715, :text "ns", :id "rkZoanEnzu"}
      "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972042715, :text "chan-utils.core", :id "LeMi6WKowR"}
      "r" {
       :type :expr, :by "yeKFqj7rX", :at 1558972571203, :id "Fm05wenTaa"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text ":require", :id "DRW9Q1asqM"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1558972571203, :id "UYrU3Vo_SZ"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "[]", :id "_kFzPP6fxw"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "clojure.core.async", :id "61fv_KKzRT"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text ":refer", :id "VK1AKa8L92"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1558972571203, :id "udJWiYC-sN"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "[]", :id "gypRr34pqb"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "go", :id "Jx6G61FK3E"}
            "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text ">!", :id "RBW5_Y4yPr"}
            "v" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "<!", :id "lvVYBOOn2f"}
            "x" {:type :leaf, :by "yeKFqj7rX", :at 1558972571203, :text "chan", :id "nTpzPPbhYX"}
           }
          }
         }
        }
        "r" {
         :type :expr, :by "yeKFqj7rX", :at 1558976629502, :id "xADSuN2IWv"
         :data {
          "D" {:type :leaf, :by "yeKFqj7rX", :at 1558976630971, :text "[]", :id "wYv79YFhp"}
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976630238, :text "cljs.spec.alpha", :id "0ZEwDj0Yn"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558976633218, :text ":as", :id "VIXO_dGcH"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1558976633750, :text "s", :id "XACbH32B6X"}
         }
        }
       }
      }
      "v" {
       :type :expr, :by "yeKFqj7rX", :at 1558973266725, :id "WkOo3WZKB"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1558973272821, :text ":require-macros", :id "WkOo3WZKBleaf"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1558973273074, :id "6-VV361bbB"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558973273340, :text "[]", :id "CviJvEY6Z0"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558973277153, :text "chan-utils.core", :id "Qv6kZAl2w"}
         }
        }
       }
      }
     }
    }
    :defs {
     "all-once" {
      :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "YNXNCTVqbQ"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "defn", :id "geN-lO3TpY"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "all-once", :id "PiPwJh3M_s"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "-9LLSSboxk"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "chan-f", :id "YoPbUIKdO1"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "xs", :id "8CLunDYEeW"}
        }
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "Y23naLOOu5"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "assert", :id "WP3gwkt_4D"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "5pjZxduTqO"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "fn?", :id "eLqDw8R1Te"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "chan-f", :id "srmAU8rJOc"}
          }
         }
         "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "\"expected a function", :id "qUwg5z2_89"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "sap8PM6i__"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "assert", :id "sSBHvsG9Ln"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "i4YqNVxRhJi"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "sequential?", :id "hA94c4viKo0"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "xs", :id "qHk5_H4slQW"}
          }
         }
         "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "\"expected a sequence", :id "Plcwk5lKnHK"}
        }
       }
       "y" {
        :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "-rm0ThWQ5kJ"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "let", :id "bZnLeLMmn-D"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "GI-XE44LAps"
          :data {
           "T" {
            :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "p60AU5FeYhU"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "all-tasks", :id "mIhp2YMnN3V"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "6VbUg3iqMRM"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "doall", :id "tH9XipAatbX"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "geRaxRLq_9a"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "map", :id "JV-e6Zhdzp6"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "chan-f", :id "1ekxva_XDY5"}
                 "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "xs", :id "qbHEff8DeTQ"}
                }
               }
              }
             }
            }
           }
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "CPuMm51trtm"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "<result", :id "oln8qI3KUON"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "BD65S3tX18I"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "chan", :id "Lak0eGuD6z1"}
              }
             }
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "yWkr1aH1Ipj"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "*counter", :id "u3HjlMPOjWw"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "as2frIKE8Re"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "atom", :id "OG4ZBFHRccs"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "0", :id "IghwSTXiIpT"}
              }
             }
            }
           }
          }
         }
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "99Mp-g6epl2"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "go", :id "vJJgn3qPF29"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "Do3jrlCykP2"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "loop", :id "mqEsaCG4BcX"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "CByIit0wlCf"
              :data {
               "T" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "bYWjC46faxA"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "acc", :id "_VOGZtx1WRM"}
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "lKKPAsziY1o"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "[]", :id "QDyChHsu8CV"}
                  }
                 }
                }
               }
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "bWQn9JVh1g6"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "tasks", :id "NHoTKSETSol"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "all-tasks", :id "474jqrf8QQt"}
                }
               }
              }
             }
             "r" {
              :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "y1ivjTrtMPd"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "if", :id "XOI40zynbT2"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "q5slGAXkeAR"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "empty?", :id "8aJOEUFpdS8"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "tasks", :id "rNoXQkFGOZJ"}
                }
               }
               "r" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "klTrCokJ9aJ"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text ">!", :id "e51ZfOfubVC"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "<result", :id "eGEqZgSU2fB"}
                 "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "acc", :id "IH84D3ZWYFJ"}
                }
               }
               "v" {
                :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "Q9IkjQoxuEm"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "do", :id "Uw4QYMIV-dV"}
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "-aj1z8ACb42"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "swap!", :id "kKsbjlWGd_5"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "*counter", :id "142cBtwnaLI"}
                   "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "inc", :id "7NzhjCR_AQi"}
                  }
                 }
                 "r" {
                  :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "sJNV2e35GV-"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "recur", :id "I-S64Jk463m"}
                   "j" {
                    :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "qA6gjCUy_X8"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "conj", :id "ZYyfG71t1tp"}
                     "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "acc", :id "kHzYsKCHTRM"}
                     "r" {
                      :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "WYqjzM2WgSs"
                      :data {
                       "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "<!", :id "xyrQKArh89W"}
                       "j" {
                        :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "DpYFEF5Xadm"
                        :data {
                         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "first", :id "RFpYje4Z0qz"}
                         "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "tasks", :id "Chcugypmepy"}
                        }
                       }
                      }
                     }
                    }
                   }
                   "r" {
                    :type :expr, :by "yeKFqj7rX", :at 1558972563451, :id "i9TVPkaN3WH"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "rest", :id "-YMGB-2W0zv"}
                     "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "tasks", :id "3kbGDgHvmmS"}
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
         "v" {:type :leaf, :by "yeKFqj7rX", :at 1558972563451, :text "<result", :id "5_CVjsMrBaL"}
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :by "yeKFqj7rX", :at 1558972042715, :id "1PUP2h1C-T"
     :data {
      "T" {
       :type :expr, :by "yeKFqj7rX", :at 1558976739650, :id "BIh_XHEBlu"
       :data {
        "D" {:type :leaf, :by "yeKFqj7rX", :at 1558976866985, :text ";", :id "f2hnaO2TT"}
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "s/fdef", :id "zJYcMMBSyF"}
        "j" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "all-once", :id "mwbZW-7s1w"}
        "r" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text ":args", :id "aQb7vuI6VX"}
        "v" {
         :type :expr, :by "yeKFqj7rX", :at 1558976739650, :id "KZIW93JL5_"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "s/cat", :id "wosdFQmpl_"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text ":f", :id "slGz3bWwEO"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "fn?", :id "fuHI2y-Wpl"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text ":xs", :id "gzBOdDCpqF"}
          "x" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "list?", :id "lUiviCt-YZ"}
         }
        }
        "x" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text ":ret", :id "8AHpd-CrU9"}
        "y" {:type :leaf, :by "yeKFqj7rX", :at 1558976739650, :text "list?", :id "o5KnlNlSlz"}
       }
      }
     }
    }
   }
   "chan-utils.main" {
    :ns {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "WD4drWEfD9"
     :data {
      "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "ns", :id "jeg5aDS4Wa"}
      "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "chan-utils.main", :id "Hvc4wCBXc4"}
      "r" {
       :type :expr, :by "yeKFqj7rX", :at 1558972665528, :id "3Zoitafu_"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972666278, :text ":require", :id "RkHNFCU7Ec"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1558972666994, :id "I_l1gJKRdi"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972667309, :text "[]", :id "RZQhh9vBa"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972673033, :text "chan-utils.core", :id "WfchzHnzJ"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972673872, :text ":refer", :id "26kLEy5mEH"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1558972674022, :id "QGWagZwlGp"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972674206, :text "[]", :id "mGCqzVtWgn"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972676149, :text "chan-once", :id "fvEdqsS2Z3"}
            "r" {:type :leaf, :by "yeKFqj7rX", :at 1558976788561, :text "all-once", :id "jqltU5Enih"}
           }
          }
         }
        }
        "r" {
         :type :expr, :by "yeKFqj7rX", :at 1558972695166, :id "yWYjkz7ju7"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "[]", :id "Iz1y5jODcq"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "clojure.core.async", :id "DE3XbYOasa"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text ":refer", :id "f9YQQR3TQP"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1558972695166, :id "6cdcGx3_sP"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "[]", :id "VllmNl24RS"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "go", :id "ks8-JoYSW9"}
            "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text ">!", :id "TxSuWdXaoS"}
            "v" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "<!", :id "zAlKq62XZf"}
            "x" {:type :leaf, :by "yeKFqj7rX", :at 1558972695166, :text "chan", :id "vKka7YxqQM"}
           }
          }
         }
        }
       }
      }
     }
    }
    :defs {
     "main!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "SWvtON639q"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "defn", :id "0OZDgsAOvf"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "main!", :id "mI-t3ViWvV"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "lP6uJuLIHa"
        :data {}
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1534483219154, :id "7MO0wI6pRH"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483220269, :text "println", :id "7MO0wI6pRHleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483646733, :text "\"Started.", :id "QtyUDYYqzh"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1534483598849, :id "8o79uAgQfj"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972059804, :text "task!", :id "8o79uAgQfjleaf"}
        }
       }
      }
     }
     "reload!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "-BOhJzActg"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "defn", :id "78G4OkYMQ2"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "reload!", :id "uDkGHYSsJo"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "Lpt5qqH2Vl"
        :data {}
       }
       "w" {
        :type :expr, :by "yeKFqj7rX", :at 1534483614325, :id "ZaXHdfRAS"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483615196, :text ".clear", :id "ZaXHdfRASleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483618012, :text "js/console", :id "KTDkK3SQO"}
        }
       }
       "wT" {
        :type :expr, :by "yeKFqj7rX", :at 1534483228056, :id "nvVffdJ4rl"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483228922, :text "println", :id "_PKSES8fGyleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483648553, :text "\"Reloaded.", :id "EGqaOPxjzt"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1534483605981, :id "2Uk-oEu7q3"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972055201, :text "task!", :id "2Uk-oEu7q3leaf"}
        }
       }
      }
     }
     "task!" {
      :type :expr, :by "yeKFqj7rX", :at 1558972060375, :id "pbvkIMrk9O"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972060375, :text "defn", :id "ofYCHC74KB"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972060375, :text "task!", :id "kzHaAI9j3w"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1558972060375, :id "ED5WL54Bd8"
        :data {}
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1558972062057, :id "Y7WOf85CBF"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972062940, :text "println", :id "Y7WOf85CBFleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972789049, :text "\"run task", :id "GQSmU6JZ39"}
        }
       }
       "w" {
        :type :expr, :by "yeKFqj7rX", :at 1564628356672, :id "cZOmNix1I"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1564628411613, :text ";", :id "gmK3D3PDWd"}
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628357461, :text "println", :id "cZOmNix1Ileaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1564628357961, :id "P80RtdA4QL"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628378356, :text "macroexpand-1", :id "6NfBC8H8Q"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1564628364461, :id "U77KG43bw0"
            :data {
             "D" {:type :leaf, :by "yeKFqj7rX", :at 1564628366108, :text "quote", :id "bz-RT69pb"}
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1564628363660, :id "Lg5k7RQn6_"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "chan-once", :id "IKTRNCsl_A"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "got", :id "tWkDAtiO5t"}
               "r" {
                :type :expr, :by "yeKFqj7rX", :at 1564628363660, :id "4cnYccDUHJ"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "js/setTimeout", :id "sF2tpfE3r8"}
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1564628363660, :id "p7omfBFf4y"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "fn", :id "97I8oH_DkA"}
                   "j" {
                    :type :expr, :by "yeKFqj7rX", :at 1564628363660, :id "hm6ccGTEfq"
                    :data {}
                   }
                   "r" {
                    :type :expr, :by "yeKFqj7rX", :at 1564628363660, :id "lJcNSst_6j"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "got", :id "oTE17G2ch2"}
                     "j" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "1", :id "F8ccGeFdYY"}
                    }
                   }
                  }
                 }
                 "r" {:type :leaf, :by "yeKFqj7rX", :at 1564628363660, :text "4000", :id "8ywmpJWagd"}
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1558972764721, :id "fJhEPP7QI"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1558972766832, :text "go", :id "cdRzbMTBwj"}
         "T" {
          :type :expr, :by "yeKFqj7rX", :at 1558972755884, :id "fhyoxeLhOO"
          :data {
           "D" {:type :leaf, :by "yeKFqj7rX", :at 1558972757911, :text "let", :id "CQvRmBtv45"}
           "T" {
            :type :expr, :by "yeKFqj7rX", :at 1558972759999, :id "80EwuMY9k7"
            :data {
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1558972760184, :id "HQcgPtbQjO"
              :data {
               "D" {:type :leaf, :by "yeKFqj7rX", :at 1558972763408, :text "data", :id "ci7s5-fnn"}
               "T" {
                :type :expr, :by "yeKFqj7rX", :at 1558972773320, :id "tAoHg8IhvV"
                :data {
                 "D" {:type :leaf, :by "yeKFqj7rX", :at 1558972776612, :text "<!", :id "f41LFo77R"}
                 "T" {
                  :type :expr, :by "yeKFqj7rX", :at 1558972682185, :id "vOSM18VpS9"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972702932, :text "chan-once", :id "vOSM18VpS9leaf"}
                   "b" {:type :leaf, :by "yeKFqj7rX", :at 1558974750352, :text "got", :id "cT11q-qOa"}
                   "n" {
                    :type :expr, :by "yeKFqj7rX", :at 1558975571440, :id "TRCug71LUy"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1558975571440, :text "js/setTimeout", :id "I_D5Il9ohz"}
                     "j" {
                      :type :expr, :by "yeKFqj7rX", :at 1558975571440, :id "yZrTFy4YI4"
                      :data {
                       "T" {:type :leaf, :by "yeKFqj7rX", :at 1558975571440, :text "fn", :id "b-NlXmvIUH"}
                       "j" {
                        :type :expr, :by "yeKFqj7rX", :at 1558975571440, :id "Hl6Qdl2jfV"
                        :data {}
                       }
                       "r" {
                        :type :expr, :by "yeKFqj7rX", :at 1558975571440, :id "foNTR2PxQ3"
                        :data {
                         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558975571440, :text "got", :id "dWLrrexs_R"}
                         "j" {:type :leaf, :by "yeKFqj7rX", :at 1558975571440, :text "1", :id "DVat9raYMI"}
                        }
                       }
                      }
                     }
                     "r" {:type :leaf, :by "yeKFqj7rX", :at 1558975571440, :text "4000", :id "GOWSeVQ6pV"}
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1558972768172, :id "wCMOTLDVZx"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1558972769077, :text "println", :id "wCMOTLDVZxleaf"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1558972784289, :text "\"data", :id "bLVZ8_61FG"}
             "r" {:type :leaf, :by "yeKFqj7rX", :at 1558972784993, :text "data", :id "L_83JQGPIv"}
            }
           }
          }
         }
        }
       }
       "y" {
        :type :expr, :by "yeKFqj7rX", :at 1558976754932, :id "aWPPDbGx5"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1564628279548, :text ";", :id "aQJ39-avo"}
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976755278, :text "go", :id "aWPPDbGx5leaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1558976755590, :id "OsC75wD3B"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976756708, :text "let", :id "mIUNQSFhcH"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1558976756931, :id "QRJLDRoUvW"
            :data {
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1558976757099, :id "pnG7TBWlXa"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976760153, :text "ys", :id "eKRnCBveZH"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1558976760500, :id "Ni3m7IvRBg"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976767647, :text "all-once", :id "R3N51l6zcB"}
                 "b" {
                  :type :expr, :by "yeKFqj7rX", :at 1558976771080, :id "o8eSFcIkdZ"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976771350, :text "fn", :id "GF4GAmBeyD"}
                   "j" {
                    :type :expr, :by "yeKFqj7rX", :at 1558976772288, :id "t7Ol404FBv"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976771895, :text "x", :id "57q-cQ77yN"}
                    }
                   }
                   "r" {
                    :type :expr, :by "yeKFqj7rX", :at 1558976773307, :id "ljAOhWfC9x"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1558976776479, :text "chan", :id "ljAOhWfC9xleaf"}
                    }
                   }
                  }
                 }
                 "n" {
                  :type :expr, :by "yeKFqj7rX", :at 1564628254489, :id "8togMnZfr8"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1564628254778, :text "[]", :id "DvqBZe3zo"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1564628256119, :text "1", :id "zfgy7hkt6"}
                   "r" {:type :leaf, :by "yeKFqj7rX", :at 1564628256360, :text "2", :id "ohfphDRb0Y"}
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "mpzXR47-KZ"
     :data {}
    }
   }
  }
 }
 :configs {:storage-key "calcit.edn", :local-storage-key "calcit-storage", :extension ".cljs", :output "src", :port 6001}
}