
{
  :source-paths ["src"]
  :dependencies []
  :builds {
    :app {
      :target :node-script, :output-to "target/server.js", :main chan-utils.main/main!
      :devtools {:after-load chan-utils.main/reload!}
    }
  }
}
